@model YoutubeClone.Models.Data_Models.Commentaire

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Commentaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Auteur.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auteur.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Video.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePublication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePublication)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
