@model YoutubeClone.Models.Data_Models.Commentaire

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commentaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Auteur.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auteur.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Video.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePublication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePublication)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommentaireId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
