<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header row" style="display:flex; align-items:center; flex-direction:row">
            @Html.ActionLink("Youtube Clone", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            @*NE RETOURNE AUCUN RÉSULTAT (AUCUN PARAMÈTRE DE RECHERCHE DONNÉ?)*@
            <form method="get" action="/Recherche/Index" class="navbar-form" style="">
                <div class="col-md-12">
                    <input type="text" name="search" value="" required>
                    <input type="submit" value="Recherche" />
                </div>
            </form>

            <ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        Hi! @User.Identity.Name
                    </li>
                    <li>
                        @Html.ActionLink("Chaînes", "Index", "Home", new { Url = Request.Url.AbsolutePath }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Modification", "Edit", "Utilisateurs", new { Url = Request.Url.AbsolutePath }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Déconnexion", "Logout", "Auth", new { Url = Request.Url.AbsolutePath }, null)
                    </li>

                }
                else
                {
                    <li>
                        @Html.ActionLink("Connexion", "Login", "Auth", new { Url = Request.Url.AbsolutePath }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Créer un compte", "SignUp", "Auth", new { Url = Request.Url.AbsolutePath }, null)
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
