@model YoutubeClone.Models.Data_Models.Video

<div>
    <dl class="dl-horizontal">

        <dt>
            <a href="~/Channel/Details/@(Model.Channel.ChaineId)">
                @Html.DisplayFor(model => model.Channel.Name)
            </a>
        </dt>

        <dt>
            <a href="~/Videos/Details/@(Model.VideoId)">
                <img src="@(Model.ThumbnailPath)" alt="Thumbnail de @(Model.Name)" />
            </a>
        </dt>

        <dt>
            @(Model.Views) Views
        </dt>

        <dt>
            @(Model.Name)
        </dt>
        <dt>
            @(Model.Categorie_Video)
        </dt>

        <dt>
            @(Model.DatePublished.Day)-@(Model.DatePublished.Month)-@(Model.DatePublished.Year)
        </dt>
    </dl>
</div>
