
@{
    ViewBag.Title = "Admin";
}

<h2>Admin Panel</h2>

<h3>Videos</h3>
<div class="row">
    @foreach (YoutubeClone.Models.Data_Models.Video v in ViewBag.Videos) {
        <div class="col-md-4">
            <p>Name: @v.Name</p>
            <p>Description: @v.Description</p>
            <p>Tags_Video: @v.Tags_Video</p>
            <a href="~/Videos/Details/@(v.VideoId)">
                <img src="~/Content/Thumbnails/@(v.VideoId).png" onerror="this.src='https://i.imgur.com/P5xGiIQ.jpg'" class="thumbnail-image" />
            </a>
            <a href="/Videos/Delete/@v.VideoId">Delete Video </a>
        </div>
    }
</div>
<h3>Chaines</h3>
<div class="row">
    @foreach (YoutubeClone.Models.Data_Models.Chaine v in ViewBag.Chaines) {
        <div class="col-md-4">
            <p>Name: @v.Name</p>
            <p>Description: @v.Description</p>
            <p>Tags_Video: @v.Tags_Chaine</p>
            <a href="~/Channel/Details/@(v.ChaineId)">View Channel</a>
            <a href="/Channel/Delete/@v.ChaineId">Delete Channel </a>
        </div>
    }
</div>

<h3>Utilisateurs</h3>
<div class="row">
    @foreach (YoutubeClone.Models.Data_Models.Utilisateur v in ViewBag.Utilisateurs) {
        <div class="col-md-4">
            <p>Name: @v.Username</p>
            <a href="/Utilisateurs/Delete/@v.UtilisateurId">Delete User </a>
        </div>
    }
</div>

