@model YoutubeClone.Models.Data_Models.Utilisateur

@{
    ViewBag.Title = YoutubeClone.Ressource.Utilisateur.TitleDelete;
}

<h2>@YoutubeClone.Ressource.Utilisateur.PageNameDelete</h2>

<h3>@YoutubeClone.Ressource.Utilisateur.DeleteQuestion <b>[@Model.Username]</b></h3>
<h5 style="color:red">@ViewBag.Error</h5>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    <h2>@YoutubeClone.Ressource.Utilisateur.DeleteWarning</h2>
        <p>@YoutubeClone.Ressource.Utilisateur.DeleteMessage</p>
        <br />
        <br />
        <div class="form-actions no-color">
            <input type="checkbox" id="confirm-disabled" name="confirm" onchange="document.getElementById('btn-disabled').disabled = !this.checked;"/>
            <h4>@YoutubeClone.Ressource.Utilisateur.DeleteAcceptance</h4>
        </div>
        <div class="form-actions no-color">
            <input type="submit" id="btn-disabled" name="supprimer" value="@YoutubeClone.Ressource.Utilisateur.ActionDelete" disabled class="btn btn-default" />
            @Html.ActionLink(YoutubeClone.Ressource.Utilisateur.Cancel, "InfoUser", "Auth", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/ScriptBruce.js"></script>