<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" style="display:flex; align-items:center; justify-content:space-between">
        @Html.ActionLink("Youtube Clone", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <form method="get" action="/Recherche/Index" class="navbar-form">
            <div class="col-md-12">
                <input type="text" name="search" value="" required>
                <input type="hidden" name="isChaine" value="on" />
                <input type="hidden" name="isVideo" value="on" />
                <input type="hidden" name="uploadFrame" value="All" />
                <input type="hidden" name="sortBy" value="Popular" />
                <input type="hidden" name="categorie" value="All" />
                <input type="submit" value="Recherche" />
            </div>
        </form>

        <ul>
            @if (User.Identity.IsAuthenticated)
            {

                <li>
                    @Html.ActionLink("Chaînes", "Index", "Home", new { Url = Request.Url.AbsolutePath }, null)
                </li>
                <li>
                    @Html.ActionLink("Modification", "Edit", "Utilisateur", new { Url = Request.Url.AbsolutePath }, null)
                </li>
                <li>
                    @Html.ActionLink("Déconnexion", "Logout", "Auth", new { Url = Request.Url.AbsolutePath }, null)
                </li>

            }
            else
            {   @*À COMPLÉTER*@
                <li>
                    @Html.ActionLink("Créer un compte", "Index", "Home", new { Url = Request.Url.AbsolutePath }, null)
                </li>
            }
        </ul>
    </div>
</div>
