<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Youtube Clone", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <ul style="float:right">
                @if (User.Identity.IsAuthenticated)
                {

                    <li>
                        @Html.ActionLink("Chaînes", "Index", "Home", new { Url = Request.Url.AbsolutePath }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Modification", "Edit", "Utilisateur", new { Url = Request.Url.AbsolutePath }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Déconnexion", "Logout", "Auth", new { Url = Request.Url.AbsolutePath }, null)
                    </li>

                }
                else
                {
                    <li>
                        @Html.ActionLink("Créer un compte", "Index", "Home", new { Url = Request.Url.AbsolutePath }, null)
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
