<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container ">
        <div class="row " style="align-items:center; ">
            @Html.ActionLink("Youtube Clone", "Index", "Home", new { area = "" }, new { @class = "navbar-brand col-md-4" })
                <form method="get" action="/Recherche/Index" class="navbar-form col-md-4" style="">
                    <div>
                        <input type="text" name="search" value="" required>
                        <input type="hidden" name="isVideo" value="on" />
                        <input type="hidden" name="isChaine" value="on" />
                        <input type="submit" value="Recherche" />
                    </div>
                </form>

                @if (User.Identity.IsAuthenticated) {
            @*Faudra peut-être créer une sidebar comme sur YouTube pour que le navbar soit moins clustered*@
            <div class="dropdown col-md-4">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Logged as @User.Identity.Name
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @Html.Action("AdminMenuOption", "Utilisateurs", null)

                    <li>
                        @Html.ActionLink("Chaînes", "ChainesUtilisateurs", "Channel", new { ReturnUrl = Request.Url }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Compte", "InfoUser", "Auth", new { ReturnUrl = Request.Url }, null)
                    </li>
                    <li>
                        @*À faire*@
                        @Html.ActionLink("Historique", "Historique", "Utilisateurs", new { ReturnUrl = Request.Url }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Déconnexion", "Logout", "Auth", new { ReturnUrl = Request.Url }, null)
                    </li>
                </ul>
            </div>
} else {
        <ul>
            <li>
                @Html.ActionLink("Connexion", "Login", "Auth", new { ReturnUrl = Request.Url }, null)
            </li>
            <li>
                @Html.ActionLink("Créer un compte", "SignUp", "Auth", new { ReturnUrl = Request.Url }, null)
            </li>
        </ul>
}
            </div>
        </div>
    </div>