@model YoutubeClone.Models.Data_Models.Video

<div>
    <dl class="dl-horizontal">

        <dt @*class="thumbnail"*@>
            @*Thumbnail*@
            <a href="~/Videos/Details/@(Model.VideoId)">
                <img src="@Model.ThumbnailPath" onerror="this.src='https://i.imgur.com/P5xGiIQ.jpg'"  class="thumbnail-image"/>
            </a>
        </dt>

        <dt class="video-details-part">
            @*Video title*@
            @(Model.Name)
        </dt>

        <dt class="video-details-part">
            @*Channel*@
            <a href="~/Channel/Details/@(Model.Channel.ChaineId)">
                @Html.DisplayFor(model => model.Channel.Name)
            </a>
        </dt>

        <dt class="video-details-part">
            @*Views and published date (maybe change to how many days/weeks/months/years ago it was released)*@
            @(Model.Views) Views · @YoutubeClone.Controllers.VideosController.GetTimeDifference(Model.DatePublished) @*@(Model.DatePublished.Day)-@(Model.DatePublished.Month)-@(Model.DatePublished.Year)*@
        </dt>
    </dl>
</div>

