@model YoutubeClone.Models.Data_Models.Video

<div>
    <dl class="dl-horizontal">

        <dt @*class="thumbnail"*@>
            @*Thumbnail*@
            <a href="~/Videos/Details/@(Model.VideoId)">
                @if (!String.IsNullOrEmpty(Model.ThumbnailPath)) {
                    <img src="@Model.ThumbnailPath" alt="nothing" class="thumbnail-image"/>
                } else
                {
                    <img src="https://i.imgur.com/P5xGiIQ.jpg" alt="nothing" class="thumbnail-image"/>
                }
            </a>
        </dt>

        <dt class="video-details-part">
            @*Video title*@
            @(Model.Name)
        </dt>

        <dt class="video-details-part">
            @*Channel*@
            <a href="~/Channel/Details/@(Model.Channel.ChaineId)">
                @Html.DisplayFor(model => model.Channel.Name)
            </a>
        </dt>

        <dt class="video-details-part">
            @*Views and published date*@
            @(Model.Views) Views · @YoutubeClone.Controllers.VideosController.GetTimeDifference(Model.DatePublished)
        </dt>
    </dl>
</div>

