@model YoutubeClone.Models.Data_Models.Video

<div>
    <dl class="dl-horizontal">
        <dt>
            <a href="~/Videos/Details/@(Model.VideoId)">
                @if (!String.IsNullOrEmpty(Model.ThumbnailPath)) {
                    <img src="@Model.ThumbnailPath" onerror="this.src='@Url.Content("~/Content/Thumbnails/default-thumbnail.jpg")'" class="thumbnail-image"/>
                } else {
                    <img src='@Url.Content("~/Content/Thumbnails/default-thumbnail.jpg")' class="thumbnail-image"/>
                }
            </a>
        </dt>
        <dt class="video-details-part">
            @(Model.Name)
        </dt>
        <dt class="video-details-part">
            <a href="~/Channel/Details/@(Model.Channel.ChaineId)">
                @Html.DisplayFor(model => model.Channel.Name)
            </a>
        </dt>
        <dt class="video-details-part">
            @(Model.Views) Views · @YoutubeClone.Controllers.VideosController.GetTimeDifference(Model.DatePublished)
        </dt>
    </dl>
</div>

