@model YoutubeClone.Models.Data_Models.Video

@{
    ViewBag.Title = Model.Name;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    @if (!String.IsNullOrEmpty(Model.VideoPath))
    {
        <video controls src="@Model.VideoPath" poster="@Model.ThumbnailPath"></video>
    } else
    {
        <video controls src="https://ak5.picdn.net/shutterstock/videos/5770835/preview/stock-footage-the-decorated-archway-and-red-lanterns-in-the-snow.webm" poster="https://i.imgur.com/DS2bwux.png"></video>
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Channel.Name)
        </dt>

        <dd>
            <a href="~/Channel/Details/@(Model.Channel.ChaineId)">
                @Html.DisplayFor(model => model.Channel.Name)
            </a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorie_Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie_Video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags_Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags_Video)
        </dd>
        @if (User.Identity.IsAuthenticated && ViewBag.EditOK) {
            <dd>
                <a href="/Videos/Edit/@Model.VideoId" class="btn btn-default">Edit Video </a>
            </dd>
        }

    </dl>
</div>
<p>
</p>
@Html.Action("MostPopularVideosOfChannels", "Channel", Model.Channel)